[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Knowledge base that works on local Markdown files
Exec=@EXEC@ %u
Icon=@ICON@
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=x-scheme-handler/obsidian;
StartupWMClass=obsidian
